main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: "#242830";
  width: 10em;
}

.checkbox {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.box {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.preview_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme_select--label {
  padding-right: 10px;
}
